body{
    background-image: linear-gradient(to right, black, #0000FF);
}
.blockForm{
    background-color: white;
    color:black;
    height: 250px;
    width: 400px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px #F2F2F2;
    padding-top:40px;
    color:black;
    margin-top: 20%;
    text-align: center;
    word-wrap: break-word;
}